<div class="d-flex">
  <div class="col-12">
    <h5>chat</h5>
    <div class="chat-container overflow-auto" #mssagecontainer>
      <div class="messagechat" *ngFor="let mess of Arrchat">

          <div class="repo-msg " *ngIf="mess.type==='repo'">
           <span> {{mess.repo}}</span>
          </div>
          <div class="rece-msg" *ngIf="mess.type==='rece'">
            <span>{{mess.rece}}</span>
          </div>

      </div>
    </div>
    <div class="fromflex">
      <input type="text" class="form-control" placeholder="Write Message"
       (keyup.enter)="sendMessage()" [(ngModel)]="message">
      <button (click)="sendMessage()" class="btn btn-success">send</button>
    </div>
  </div>
</div>
